<div class="dashboard">
  <div class="statistic planned">
    <div class="title">Planned</div>
    <div class="number">
      <div class="label">Number of tasks:&nbsp;</div>
      <div class="value">{{statistics.planned.numberOfTasks}}</div>
    </div>
    <div class="hours">
      <div class="label">Remaining hours:&nbsp;</div>
      <div class="value">{{statistics.planned.hours}}</div>
    </div>
  </div>

  <div class="statistic inProgress">
    <div class="title">In Progress</div>
    <div class="number">
      <div class="label">Number of tasks:&nbsp;</div>
      <div class="value">{{statistics.inProgress.numberOfTasks}}</div>
    </div>
    <div class="hours">
      <div class="label">Remaining hours:&nbsp;</div>
      <div class="value">{{statistics.inProgress.hours}}</div>
    </div>
  </div>

  <div class="statistic completed">
    <div class="title">Completed</div>
    <div class="number">
      <div class="label">Number of tasks:&nbsp;</div>
      <div class="value">{{statistics.completed.numberOfTasks}}</div>
    </div>
    <div class="hours">
      <div class="label">Completed hours:&nbsp;</div>
      <div class="value">{{statistics.completed.hours}}</div>
    </div>
  </div>

  <div class="statistic total">
    <div class="title">Totals</div>
    <div class="number">
      <div class="label">Number of tasks:&nbsp;</div>
      <div class="value">{{statistics.totalTasks}}</div>
    </div>
    <div class="hours">
      <div class="label">Total hours:&nbsp;</div>
      <div class="value">{{statistics.totalHours}}</div>
    </div>
  </div>
</div>
